USERNAME_FILE=/run/secrets/eufy_username
PASSWORD_FILE=/run/secrets/eufy_password
# ISO 3166-1 alpha-2 code. Great Britain is GB, not UK.
COUNTRY=GB
LANGUAGE=en
TRUSTED_DEVICE_NAME=Front Door Panel
EVENT_DURATION_SECONDS=10
POLLING_INTERVAL_MINUTES=10
P2P_CONNECTION_SETUP=2
PORT=3000
